<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Чат {{chat}}</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>
<body>
    <div align="center" class="main">
    <div class="profile">
    <script type="text/javascript">
    $(document).ready(function() {
        var socket = io.connect('http://127.0.0.1:5000');
        socket.on('connect', function() {
            socket.send(' has connected!');
        });
        socket.on('message', function(message) {
            $("#messages").append('<li>'+message+'</li>');
            console.log('Received message');
        });
        $('#button').on('click', function() {
            socket.send($('#myMessage').val());
            $('#myMessage').val('');
        });
    });
    </script>
    <ul id="messages">
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    <input type="text" id="myMessage" class="send_mes">
    <button id="button">Send</button>
</body>
</html>