input{
	background-color: black; 
	width: 140px; 
	color:red; 
	margin-bottom: 10px; 
	outline: none;
}

button{
	background-color: rgba(0,0,0,0.1); 
	border-radius: 5px; 
	width: 90px;
	height:25px; 
	margin-top: 10px; 
	color:red;
}

body{
	background-image: url(../img/bground.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.okno{
	border-radius: 20px;
	margin-top: 200px;
	width: 250px;
	height:200px;
	background-color: rgba(0,0,0,0.7);
}

.text_auth{
	padding:5px;
	font-size: 22px; 
	color:white;
}

.button_login:hover{
	color:rgb(0,0,0);
	background-color:rgba(255,0,0,0.8);}
}

.signup_link{
	width: 1000px;
}
