input{
	background-color: black; 
	width: 140px; 
	color:red; 
	margin-bottom: 10px; 
	outline: none;
}

.button_login{
	background-color: rgba(0,0,0,0.1); 
	border-radius: 5px; 
	width: 90px;
	height:25px; 
	margin-top: 10px; 
	color:red;
}

.button_reg{
	background-color: rgba(0,0,0,0.1); 
	border-radius: 5px; 
	color:red;
	width: 190px;
	height:25px; 
	margin-top: 20px;
}

body{
	background-image: url(../img/bground.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.okno{
	border-radius: 20px;
	margin-top: 200px;
	width: 250px;
	height:200px;
	background-color: rgba(0,0,0,0.7);
}

.text_auth{
	padding:5px;
	font-size: 22px; 
	color:white;
}

button:hover{
	color:rgb(0,0,0);
	background-color:rgba(255,0,0,0.8);}
}

.signup_link{
	width: 1000px;
}

.signup{
	background-color: rgba(0,0,0,0.7);
    width:400px;
    height: 400px;
    border-radius: 0 50px;
}

.profile{
	background-color: rgba(0,0,0,0.7);
    width:800px;
    height: 350px;
    border-radius: 0 50px;
    margin-top: 100px;
    padding: 50px;
}

.ava{
	margin-left: -650px;
	background-image: url(../img/ava.gif);
	width: 150px;
	height: 150px;
	background-size: 100% auto; 
}

.nickname{
	margin-left: -400px;
	margin-top:-150px;
}

.text_reg{
	padding: 20px;
}

div{
	color:white;
}